/*
Ενδεικτικοί επιλογείς για τη διαμόρφωση του στυλ

Μπορείτε να προσθέσετε τις δηλώσεις στους παρακάτω κανόνες και να εμπλουτίσετε με δικούς σας κανόνες.
*/


/* Χρειάζεται για να φανούν οι σημαίες στους φυλλομετρητές chrome-based από Windows 10 */

@font-face {
    font-family: 'TwemojiMozilla';
    src: url('TwemojiMozilla.ttf');
}

body {
    margin: 40px;
    font-family: 'Open Sans', 'TwemojiMozilla';
    /* Η γραμματοσειρά open sans φορτώνεται στο αρχείο html*/
    background-color: #fff;
    color: #444;
}

.game-panel {
    display: grid;
    border: 5px solid red;
    /* ... */
}

@media (max-width: 800px) {
    /* ενδεικτικά */
    /*  ... */
}

#my-country {}

#sidebar {}

#score {}

#neighbours-panel {}

.neighbour {}

.was-clicked.neighbour-is-valid {}

.was-clicked.neighbour-is-invalid {}

.neighbour:not(.was-clicked) {}

#my-country-flag {}

#my-country-name {}

#next-round-panel {}

#progress {
    border-radius: 5px;
}


/* ειδικά για τους φυλλομετρητές που προέρχονται από τον chrome καθώς 
υποστηρίζουν λιγότερο καλά το στοιχείο progress από ότι ο firefox,
όσον αφορά το CSS (που και σε αυτόν έχει προβληματική υποστήριξη)
*/

#progress::-webkit-progress-bar {
    border-radius: 5px;
}

/* --------------------------------------- */

.sidenav {
    width: 160px;
    margin-top: 35px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 30px;
    background-color: #ff3c94;
    color: white;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav p {
    padding: 0px 8px 0px 16px;
    text-decoration: none;
    color: white;
    display: block;
  }

  .sidenav .btn {
    margin-bottom: 30px;
    width: 140px;     /* fixed width for the sidebar buttons */
  }

  #header_img {
    margin-left: 20px;
    margin-right: 30px;
  }
  
  .main {
    margin-left: 200px;
    padding: 0px 10px;
  }

  .main h2 {
    margin-top: 30px;
    height: 100px;  
    background-color: #707c8c;
    color: white;
  }
  
  .main img {
    width: 100px;
    height: 100px;
  }

  .flex-container {
    padding: 0;
    margin: 10px 0px 0px 0px;
    list-style: none;
    border: 5px solid black;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .flex-country {
    text-align: center;
    border: 5px solid black;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  

  @media screen and (max-width: 800px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
      left: 0;
    }

    div.content {
      margin-left: 0;
    }

    .main {
      margin-left: 0px;
    }

    .btn {
      display: block;
      margin: 10px 0;
      padding: 10px;
      width: 100%;
    }
  }